{%extends 'all-awards/base.html'%}
{% load bootstrap4 %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %} 
{{ block.super}}

<div>

    <div class="container-fluid"
      style="background-image: url('https://images.unsplash.com/photo-1471293413508-2cb95f2d2e9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');  background-repeat: no-repeat; background-size: cover; height: 100vh;  background-position: center; text-align:center; overflow-x:hidden;">
    
        <a data-toggle="modal" data-target="#myModal" class=" btn btn-success" >UPLOAD YOUR WEBSITE</a>
    
  
      <h1 style="  font-size:50px; margin-top:60px; color:aquamarine; font-family: 'Lobster Two', cursive;">Instagram
      </h1>
      <p style="color: beige;"><b> By: </b>Venus Mwende</p>
      <div>
        <img src="https://ucarecdn.com/257afbc7-9e6d-4984-9939-f83076ad6d84/progressremovebgpreview.png" alt="">
      </div>
      <a href="https://instagramcloneig.herokuapp.com/" class="btn btn-info btn-rounded" target="_blank">view site</a>
    </div>

    <br><br>
  <div class="container-fluid">
    <div class="row">
      {% for project in projects %}
      <div class="col-md-4">
        <div class="card-group">
          <div class="card card-personal mb-4">
            <div class="view">
              <img class="card-img-top" src="{{project.photo.url}}" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <div class="card-body">
                <h3 style="font-family: 'Cuprum', sans-serif;">{{project.title}}</h3>
  
                <a href="{{project.url}}" target="_blank">view site</a>
  
                <p class="card-text"><b>project description:</b>{{project.description}}</p>
              
  
              </div>
            </div>
          </div>
  
  
        </div>
        {% endfor %}

    </div>

</div>

</div>
<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Upload your project</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          
          <form action="" method="post" class="mb-2" >
            {% csrf_token%}
            {% bootstrap_form form %}
            <input type="submit" value ="Submit" class="btn-success"> 
        </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

{%endblock%}